.hero-slider {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.slide-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-top: 80px;
}

.about-title {
  position: relative;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 2.8rem;
  font-weight: 600;
  color: #333;
  margin: 0px auto 30px auto;
  padding: 0 70px;
}

/* Right top line */
.about-title::before {
  content: "";
  position: absolute;
  right: 390px;
  top: calc(50% - 6px);
  width: 20px;
  height: 2px;
  background: #f26722;
}

/* Right bottom line */
.about-title::after {
  content: "";
  position: absolute;
  right: 370px;
  top: calc(50% + 4px);
  width: 40px;
  height: 2px;
  background: #f26722;
}

/* Left side */
.about-title span::before {
  content: "";
  position: absolute;
  left: 390px;
  top: calc(50% - 6px);
  width: 20px;
  height: 2px;
  background: #f26722;
}

.about-title span::after {
  content: "";
  position: absolute;
  left: 370px;
  top: calc(50% + 4px);
  width: 40px;
  height: 2px;
  background: #f26722;
}

.impact-title {
  position: relative;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 2.8rem;
  font-weight: 600;
  color: #333;
  margin: 0px auto 30px auto;
  padding: 0 70px;
}

/* Right top line */
.impact-title::before {
  content: "";
  position: absolute;
  right: 390px;
  top: calc(50% - 6px);
  width: 20px;
  height: 2px;
  background: #f26722;
}

/* Right bottom line */
.impact-title::after {
  content: "";
  position: absolute;
  right: 370px;
  top: calc(50% + 4px);
  width: 40px;
  height: 2px;
  background: #f26722;
}

/* Left side */
.impact-title span::before {
  content: "";
  position: absolute;
  left: 390px;
  top: calc(50% - 6px);
  width: 20px;
  height: 2px;
  background: #f26722;
}

.impact-title span::after {
  content: "";
  position: absolute;
  left: 370px;
  top: calc(50% + 4px);
  width: 40px;
  height: 2px;
  background: #f26722;
}

.Inter-title {
  position: relative;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 2.8rem;
  font-weight: 600;
  color: #333;
  margin: 0px auto 30px auto;
  padding: 0 70px;
}

/* Right top line */
.Inter-title::before {
  content: "";
  position: absolute;
  right: 330px;
  top: calc(50% - 6px);
  width: 20px;
  height: 2px;
  background: #f26722;
}

/* Right bottom line */
.Inter-title::after {
  content: "";
  position: absolute;
  right: 310px;
  top: calc(50% + 4px);
  width: 40px;
  height: 2px;
  background: #f26722;
}

/* Left side */
.Inter-title span::before {
  content: "";
  position: absolute;
  left: 330px;
  top: calc(50% - 6px);
  width: 20px;
  height: 2px;
  background: #f26722;
}

.Inter-title span::after {
  content: "";
  position: absolute;
  left: 310px;
  top: calc(50% + 4px);
  width: 40px;
  height: 2px;
  background: #f26722;
}

.sdg-title {
  position: relative;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 2.8rem;
  font-weight: 600;
  color: #333;
  margin: 0px auto 30px auto;
  padding: 0 70px;
}

/* Right top line */
.sdg-title::before {
  content: "";
  position: absolute;
  right: 250px;
  top: calc(50% - 6px);
  width: 20px;
  height: 2px;
  background: #f26722;
}

/* Right bottom line */
.sdg-title::after {
  content: "";
  position: absolute;
  right: 230px;
  top: calc(50% + 4px);
  width: 40px;
  height: 2px;
  background: #f26722;
}

/* Left side */
.sdg-title span::before {
  content: "";
  position: absolute;
  left: 250px;
  top: calc(50% - 6px);
  width: 20px;
  height: 2px;
  background: #f26722;
}

.sdg-title span::after {
  content: "";
  position: absolute;
  left: 230px;
  top: calc(50% + 4px);
  width: 40px;
  height: 2px;
  background: #f26722;
}

.accreditations-title {
  position: relative;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 2.8rem;
  font-weight: 600;
  color: #333;
  margin: 30px auto 30px auto;
  padding: 0 70px;
}

/* Right top line */
.accreditations-title::before {
  content: "";
  position: absolute;
  right: 350px;
  top: calc(50% - 6px);
  width: 20px;
  height: 2px;
  background: #f26722;
}

/* Right bottom line */
.accreditations-title::after {
  content: "";
  position: absolute;
  right: 330px;
  top: calc(50% + 4px);
  width: 40px;
  height: 2px;
  background: #f26722;
}

/* Left side */
.accreditations-title span::before {
  content: "";
  position: absolute;
  left: 350px;
  top: calc(50% - 6px);
  width: 20px;
  height: 2px;
  background: #f26722;
}

.accreditations-title span::after {
  content: "";
  position: absolute;
  left: 330px;
  top: calc(50% + 4px);
  width: 40px;
  height: 2px;
  background: #f26722;
}

.media-title {
  position: relative;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 2.8rem;
  font-weight: 600;
  color: #333;
  margin: 0px auto 30px auto;
  padding: 0 70px;
}

/* Right top line */
.media-title::before {
  content: "";
  position: absolute;
  right: 190px;
  top: calc(50% - 6px);
  width: 20px;
  height: 2px;
  background: #f26722;
}

/* Right bottom line */
.media-title::after {
  content: "";
  position: absolute;
  right: 170px;
  top: calc(50% + 4px);
  width: 40px;
  height: 2px;
  background: #f26722;
}

/* Left side */
.media-title span::before {
  content: "";
  position: absolute;
  left: 190px;
  top: calc(50% - 6px);
  width: 20px;
  height: 2px;
  background: #f26722;
}

.media-title span::after {
  content: "";
  position: absolute;
  left: 170px;
  top: calc(50% + 4px);
  width: 40px;
  height: 2px;
  background: #f26722;
}

.slide-content {
  position: relative;
}

.slide-content .overlay1 {
  position: absolute;
  bottom: 32%;
  right: 5%;
  color: white;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
}

.about-content p {
  text-align: justify;
}

.slide-content h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
/*About*/
.About-section {
  background-color: #f7f7f7;
  padding: 40px 0px 5px 0px;
}

.About-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
}

/*Interventions*/

.Interventions-section {
  background-color: #f7f7f7;
  padding: 40px 0;
}

.SDGs-section {
  padding: 40px 0;
  background: #f7f7f7;
  text-align: center;
}
.sdg-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 100%;
}
.img1-btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  color: white;
  font-size: 1.1rem;
  font-weight: 400;
  text-decoration: none;
  position: relative;
  transition: all 0.3s ease;
}

.img1-btn::after {
  content: "›";
  font-size: 1.2rem;
  transition: transform 0.3s ease;
}

.img1-btn:hover {
  color: #ffcc00;
}

.img1-btn:hover::after {
  transform: translateX(5px);
}

.slide-content .overlay2 {
  position: absolute;
  bottom: 15%;
  right: 8%;
  color: white;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
}

.img2-btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  color: white;
  font-size: 1.1rem;
  font-weight: 400;
  text-decoration: none;
  position: relative;
  transition: all 0.3s ease;
}

.img2-btn::after {
  content: "›";
  font-size: 1.2rem;
  transition: transform 0.3s ease;
}

.img2-btn:hover {
  color: #ffcc00;
}

.img2-btn:hover::after {
  transform: translateX(5px);
}

.about-btn {
  background: none;
  border: none;
  text-decoration: none;
  display: flex;
  justify-content: end;
  align-items: center;
  color: #666;
  font-size: 16px;
  cursor: pointer;
  padding: 0;
  margin-top: 10px;
  font-family: inherit;
  transition: color 0.3s ease;
}

.about-btn:hover {
  color: #000;
}

.about-btn::after {
  content: "›";
  font-size: 1.2rem;
  margin-left: 5px;
  transition: transform 0.3s ease;
}
.about-btn:hover::after {
  transform: translateX(5px);
}

/* Our Reach Section */
.our-reach-section {
  background: #f7f7f7;
  padding: 40px 20px;
  text-align: center;
}

.reach-title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 2.8rem;
  color: #2c3e50;
  font-weight: 700;
  margin-bottom: 20px;
}

.reach-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.reach-item {
  text-align: center;
}

.reach-number {
  display: flex;
  justify-content: center;
  font-size: 60px;
  font-weight: 700;
  color: #f26622;
}

.reach-subtitle {
  font-family: "Poppins", Sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #222;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.reach-text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000;
  line-height: 18px;
  max-width: 250px;
  margin: 0 auto;
}

.partner-item {
  display: flex !important;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.sdg-icon {
  width: 100%;
  max-width: 150px;
  height: auto;
  object-fit: contain;
  transition: transform 0.3s ease;
}
.sdg-icon:hover {
  transform: scale(1.1);
}

.sdg-label {
  margin-top: 8px;
  font-size: 0.9rem;
  color: #333;
}

.partner-item img {
  max-width: 120px;
  height: auto;
}

/* Interventions Section */
.intervention-card {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.intervention-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.intervention-icon {
  width: 150px;
  height: 150px;
  object-fit: contain;
  margin: 0 auto 1rem;
}

.inter-btn {
  display: flex;
  justify-content: center;
  background: none;
  border: none;
  text-decoration: none;
  color: #666;
  font-size: 16px;
  cursor: pointer;
  padding: 0;
  margin-top: 10px;
  font-family: inherit;
  transition: color 0.3s ease;
}

.inter-btn:hover {
  color: #000;
}
.inter-btn::after {
  content: "›";
  font-size: 1.1rem;
  margin-left: 5px;
  transition: transform 0.3s ease;
}
.inter-btn:hover::after {
  transform: translateX(5px);
}

.MC-btn {
  display: flex;
  justify-content: center;
  background: none;
  border: none;
  text-decoration: none;
  color: #666;
  font-size: 16px;
  cursor: pointer;
  padding: 0;
  margin-top: 10px;
  font-family: inherit;
  transition: color 0.3s ease;
}

.MC-btn:hover {
  color: #000;
}

.MC-btn::after {
  content: "›";
  font-size: 1.1rem;
  margin-left: 5px;
  transition: transform 0.3s ease;
}
.MC-btn:hover::after {
  transform: translateX(5px);
}

/* Accreditations Section */
.section {
  padding: 30px 20px;
  background: #f9f9f9;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
/* Accreditations Section */
.accreditations-section {
  background-color: #f7f7f7;
  padding: 0px 0;
  text-align: center;
}
.accreditations-container {
  background: #f7f7f7;
  max-width: 1200px;
  margin: 0px auto;
  padding: 40px 20px;
  transition: all 0.5s ease;
}

.accreditation-card {
  max-width: 270px; /* fixed width */
  height: 280px; /* fixed height */
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 15px;
  text-align: center;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.accreditation-card:hover {
  transform: translateY(-5px);
}

.accreditation-icon {
  width: 200px;
  height: 160px;
  object-fit: contain;
  margin: 0 auto 15px;
  transition: transform 0.3s ease;
}

.accreditation-card h3 {
  font-size: 1rem;
  font-weight: 600;
  color: #333;
  margin-top: auto; /* pushes text down for alignment */
  text-align: center;
}

.Media-section {
  background-color: #f7f7f7;
  padding: 30px 0;
}

.our-reach-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.Interventions-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
}

.grid {
  display: grid;
  gap: 20px;
}

.grid-3 {
  grid-template-columns: repeat(auto-fit, minmax(218px, 1fr));
}

.SDGs-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
}

.Media-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
}

.Media-card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 50px 16px;
  transition: transform 0.3s;
}
.Media-card:hover {
  transform: translateY(-5px);
}

.grid title {
  font-size: 10px;
}

/* Responsive */
@media (max-width: 1280px) {
  .accreditations-container {
    max-width: 88%;
  }
  .accreditation-card {
    max-width: 240px;
  }
  .accreditation-card img {
    width: 200px;
    height: 170px;
  }
  .About-container {
    width: 86%;
  }
  .Interventions-container {
    width: 86%;
  }
  .grid-3 {
    grid-template-columns: repeat(auto-fit, minmax(193px, 1fr));
  }
  .SDGs-container {
    width: 86%;
  }
  .Partners-container {
    width: 86%;
  }
  .accreditations-container {
    width: 84%;
  }
  .Media-container {
    width: 86%;
  }
  .about-title::before {
    right: 350px;
  }

  /* Right bottom line */
  .about-title::after {
    right: 330px;
  }

  /* Left side */
  .about-title span::before {
    left: 350px;
  }

  .about-title span::after {
    left: 330px;
  }

  .impact-title::before {
    right: 350px;
  }

  /* Right bottom line */
  .impact-title::after {
    right: 330px;
  }

  /* Left side */
  .impact-title span::before {
    left: 350px;
  }

  .impact-title span::after {
    left: 330px;
  }

  .Inter-title::before {
    right: 290px;
  }
  /* Right bottom line */
  .Inter-title::after {
    right: 270px;
  }
  /* Left side */
  .Inter-title span::before {
    left: 290px;
  }
  .Inter-title span::after {
    left: 270px;
  }

  .sdg-title::before {
    right: 200px;
  }
  /* Right bottom line */
  .sdg-title::after {
    right: 180px;
  }
  /* Left side */
  .sdg-title span::before {
    left: 200px;
  }
  .sdg-title span::after {
    left: 180px;
  }
  .partner-title::before {
    right: 340px;
  }
  /* Right bottom line */
  .partner-title::after {
    right: 320px;
  }
  /* Left side */
  .partner-title span::before {
    left: 340px;
  }
  .partner-title span::after {
    left: 320px;
  }
  .accreditations-title {
    margin-top: 00px;
  }
  .accreditations-title::before {
    right: 290px;
  }
  /* Right bottom line */
  .accreditations-title::after {
    right: 270px;
  }
  /* Left side */
  .accreditations-title span::before {
    left: 290px;
  }
  .accreditations-title span::after {
    left: 270px;
  }
  .media-title::before {
    right: 150px;
  }
  /* Right bottom line */
  .media-title::after {
    right: 130px;
  }
  /* Left side */
  .media-title span::before {
    left: 150px;
  }
  .media-title span::after {
    left: 130px;
  }
}
@media (max-width: 1024px) {
  .reach-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .section-title {
    font-size: 1.75rem;
  }
  .accreditation-card {
    margin-bottom: 20px;
  }

  .accreditation-icon {
    width: 70px;
    height: 70px;
  }

  .accreditation-card h3 {
    font-size: 0.95rem;
  }
  .accreditations-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-title {
    font-size: 1.8rem;
    line-height: 30px;
    margin-bottom: 2rem;
  }
  .about-title::before {
    right: 180px;
  }
  .about-title::after {
    right: 160px;
  }
  .about-title span::before {
    left: 180px;
  }
  .about-title span::after {
    left: 160px;
  }

  .impact-title {
    font-size: 1.8rem;
    line-height: 30px;
    margin-bottom: 2rem;
  }
  .impact-title::before {
    right: 170px;
  }
  .impact-title::after {
    right: 150px;
  }
  .impact-title span::before {
    left: 170px;
  }
  .impact-title span::after {
    left: 150px;
  }

  .Inter-title {
    font-size: 1.8rem;
    line-height: 30px;
    margin-bottom: 2rem;
  }
  .Inter-title::before {
    right: 140px;
  }
  .Inter-title::after {
    right: 120px;
  }
  .Inter-title span::before {
    left: 140px;
  }
  .Inter-title span::after {
    left: 120px;
  }

  .sdg-title {
    font-size: 1.8rem;
    line-height: 30px;
    margin-bottom: 2rem;
  }
  .sdg-title::before {
    right: 100px;
  }
  .sdg-title::after {
    right: 80px;
  }
  .sdg-title span::before {
    left: 100px;
  }
  .sdg-title span::after {
    left: 80px;
  }

  .accreditations-title {
    font-size: 1.8rem;
    line-height: 30px;
    margin-bottom: 2rem;
    margin-top: 0px;
  }
  .accreditations-title::before {
    right: 0px;
  }
  .accreditations-title::after {
    right: -20px;
  }
  .accreditations-title span::before {
    left: 0px;
  }
  .accreditations-title span::after {
    left: -20px;
  }

  .media-title {
    font-size: 1.8rem;
    line-height: 30px;
    margin-bottom: 2rem;
  }
  .media-title::before {
    right: 50px;
  }
  .media-title::after {
    right: 30px;
  }
  .media-title span::before {
    left: 50px;
  }
  .media-title span::after {
    left: 30px;
  }
}

@media (max-width: 768px) {
  .reach-grid {
    grid-template-columns: 1fr;
  }

  .reach-number {
    font-size: 48px;
  }
  .section {
    padding: 40px 15px;
  }

  .section-title {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }

  .accreditation-icon {
    width: 100%;
    max-width: 180px;
    height: auto;
    margin: 0 auto 10px;
  }

  .accreditation-card h3 {
    font-size: 0.9rem;
    text-align: center;
    margin-top: 5px;
  }

  .accreditations-container {
    padding: 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
  }
  .about-title {
    font-size: 1.8rem;
    line-height: 30px;
    margin-bottom: 2rem;
  }
  .about-title::before {
    right: 0px;
  }
  .about-title::after {
    right: -20px;
  }
  .about-title span::before {
    left: 10px;
  }
  .about-title span::after {
    left: -10px;
  }

  .impact-title {
    font-size: 1.8rem;
    line-height: 30px;
    margin-bottom: 2rem;
  }
  .impact-title::before {
    right: 0px;
  }
  .impact-title::after {
    right: -20px;
  }
  .impact-title span::before {
    left: 10px;
  }
  .impact-title span::after {
    left: -10px;
  }

  .Inter-title {
    font-size: 1.6rem;
    line-height: 25px;
    margin-bottom: 2rem;
  }
  .Inter-title::before {
    right: 0px;
  }
  .Inter-title::after {
    right: -20px;
  }
  .Inter-title span::before {
    left: 10px;
  }
  .Inter-title span::after {
    left: -10px;
  }

  .sdg-title {
    font-size: 1.8rem;
    line-height: 30px;
    margin-bottom: 2rem;
  }
  .sdg-title::before {
    right: 20px;
  }
  .sdg-title::after {
    right: 0px;
  }
  .sdg-title span::before {
    left: 20px;
  }
  .sdg-title span::after {
    left: 0px;
  }

  .accreditations-title {
    font-size: 1.6rem;
    margin-bottom: 2rem;
  }
  .accreditations-title::before {
    right: 35px;
  }
  .accreditations-title::after {
    right: 15px;
  }
  .accreditations-title span::before {
    left: 30px;
  }
  .accreditations-title span::after {
    left: 10px;
  }

  .media-title {
    font-size: 1.8rem;
    line-height: 30px;
    margin-bottom: 2rem;
  }
  .media-title::before {
    right: 0px;
  }
  .media-title::after {
    right: -20px;
  }
  .media-title span::before {
    left: 10px;
  }
  .media-title span::after {
    left: -10px;
  }
}
