.partners-section {
  padding: 0px 0;
  background: #f9f9f9;
}

.partners-container {
  max-width: 1200px;
  width: 100%;
  padding: 15px 0px;
  margin: 0 auto;
  text-align: center;
}

.partner-title {
  position: relative;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 2.8rem;
  font-weight: 600;
  color: #333;
  margin: 0px auto 30px auto;
  padding: 0 70px;
}

/* Right top line */
.partner-title::before {
  content: "";
  position: absolute;
  right: 380px;
  top: calc(50% - 6px);
  width: 20px;
  height: 2px;
  background: #f26722;
}

/* Right bottom line */
.partner-title::after {
  content: "";
  position: absolute;
  right: 360px;
  top: calc(50% + 4px);
  width: 40px;
  height: 2px;
  background: #f26722;
}

/* Left side */
.partner-title span::before {
  content: "";
  position: absolute;
  left: 380px;
  top: calc(50% - 6px);
  width: 20px;
  height: 2px;
  background: #f26722;
}

.partner-title span::after {
  content: "";
  position: absolute;
  left: 360px;
  top: calc(50% + 4px);
  width: 40px;
  height: 2px;
  background: #f26722;
}

.partner-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.partner-item img {
  max-width: 100px;
  height: auto;
  object-fit: contain;
}

@media (max-width: 1024px) {
  .partner-title {
    font-size: 1.8rem;
    line-height: 30px;
    margin-bottom: 2rem;
  }
  .partner-title::before {
    right: 220px;
  }
  .partner-title::after {
    right: 200px;
  }
  .partner-title span::before {
    left: 220px;
  }
  .partner-title span::after {
    left: 200px;
  }
}

@media (max-width: 768px) {
  .partner-item img {
    max-width: 80px;
  }
  .partner-title {
    font-size: 1.8rem;
    line-height: 30px;
    margin-bottom: 2rem;
  }
  .partner-title::before {
    right: 50px;
  }
  .partner-title::after {
    right: 30px;
  }
  .partner-title span::before {
    left: 50px;
  }
  .partner-title span::after {
    left: 30px;
  }
}

@media (max-width: 480px) {
  .partner-item img {
    max-width: 60px;
  }
}
