.timeline-container {
  background: #fff;
  padding: 0px 20px 20px 20px;
  color: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}
.time-container {
  gap: 100px;
}

.t-subtitle {
  font-size: 1.05rem;
  color: #7f8c8d;
  text-align: center;
}

.timeline-row {
  display: flex;
  align-items: baseline;
  gap: 20px;
  position: relative;
}

.timeline-row-mid {
  display: flex;
  align-items: baseline;
  gap: 5px;
  position: relative;
}

.arrow.reverse {
  transform: rotate(180deg);
  right: auto;
  left: -20px;
}

.timeline-item {
  width: 200px;
  text-align: center;
}

.circle {
  width: 110px;
  height: 110px;
  margin: 0 auto 15px;
  background: #fff;
  border-radius: 50%;
  border: 4px solid #f97316;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 22px;
  color: #000;
}

.timeline-item.green .circle {
  border-color: #16a34a;
}

.timeline-item.orange .circle {
  border-color: #f97316;
}

.timeline-item p {
  font-size: 14px;
  line-height: 1.4;
}

.connector {
  width: 70px;
  height: 2px;
  border-top: 2px dashed #f97316;
  position: relative;
}
.connector-mid {
  width: 401px;
  height: 2px;
  border-top: 2px dashed #f97316;
  position: relative;
}

.connector-up {
  width: 2px;
  height: 70px;
  border-left: 2px dashed #f97316;
  position: relative;
  left: 12%;
  margin-bottom: 20px;
}

.connector-up .arrow {
  position: absolute;
  top: -24px;
  left: 50%;
  transform: translateX(-50%) rotate(-90deg);
  font-size: 14px;
  color: #f97316;
}

.connector-mid-up {
  width: 2px;
  height: 70px;
  border-left: 2px dashed #f97316;
  position: absolute;
  top: -80px;
  right: 12%;
}

.connector-mid-up .arrow {
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%) rotate(-90deg);
  font-size: 14px;
  color: #f97316;
}

.arrow {
  position: absolute;
  top: -15px;
  right: -20px;
  font-size: 18px;
  color: #f97316;
}

.arrow.reverse {
  left: -20px;
  bottom: -14px;
  right: auto;
  transform: rotate(180deg);
}

.india-map-section {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
}

:root {
  --line-padding-left: 4%;
  --line-padding-right: 4%;
  --timeline-height: 380px;
}

/* Page wrapper */
.page-container {
  font-family: "Poppins", "Segoe UI", Roboto, sans-serif;
  padding: 2rem;
  max-width: 1300px;
  margin: 80px auto 40px;
  text-align: center;
}

.container_RP {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.rp-section {
  background: white;
  padding: 30px 20px;
  margin-top: 90px;
  text-align: center;
}

.rpi-title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 2.8rem;
  color: #2c3e50;
  font-weight: 700;
  margin-bottom: 20px;
}

.rpi-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.rpi-item {
  text-align: center;
}

.rpi-number {
  display: flex;
  justify-content: center;
  font-size: 60px;
  font-weight: 700;
  color: #f26622;
}

.rpi-subtitle {
  font-family: "Poppins", Sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #222;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.rpi-text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000;
  line-height: 18px;
  max-width: 250px;
  margin: 0 auto;
}

/* Titles */
.section-title {
  font-size: 2.4rem;
  margin-bottom: 0.25rem;
  color: #2c3e50;
  position: relative;
  z-index: 5;
}

.timeline-subtitle {
  font-size: 1.05rem;
  color: #7f8c8d;
}

.rp-impact-title {
  position: relative;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 2.8rem;
  font-weight: 600;
  color: #333;
  margin: 0px auto 30px auto;
  padding: 0 70px;
}

/* Right top line */
.rp-impact-title::before {
  content: "";
  position: absolute;
  right: 450px;
  top: calc(50% - 6px);
  width: 20px;
  height: 2px;
  background: #f26722;
}

/* Right bottom line */
.rp-impact-title::after {
  content: "";
  position: absolute;
  right: 430px;
  top: calc(50% + 4px);
  width: 40px;
  height: 2px;
  background: #f26722;
}

/* Left side */
.rp-impact-title span::before {
  content: "";
  position: absolute;
  left: 450px;
  top: calc(50% - 6px);
  width: 20px;
  height: 2px;
  background: #f26722;
}

.rp-impact-title span::after {
  content: "";
  position: absolute;
  left: 430px;
  top: calc(50% + 4px);
  width: 40px;
  height: 2px;
  background: #f26722;
}

.rp-title {
  position: relative;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 2.8rem;
  font-weight: 600;
  color: #333;
  margin: 20px auto 0px auto;
  padding: 0 70px;
}

/* Right top line */
.rp-title::before {
  content: "";
  position: absolute;
  right: 290px;
  top: calc(50% - 6px);
  width: 20px;
  height: 2px;
  background: #f26722;
}

/* Right bottom line */
.rp-title::after {
  content: "";
  position: absolute;
  right: 270px;
  top: calc(50% + 4px);
  width: 40px;
  height: 2px;
  background: #f26722;
}

/* Left side */
.rp-title span::before {
  content: "";
  position: absolute;
  left: 290px;
  top: calc(50% - 6px);
  width: 20px;
  height: 2px;
  background: #f26722;
}

.rp-title span::after {
  content: "";
  position: absolute;
  left: 270px;
  top: calc(50% + 4px);
  width: 40px;
  height: 2px;
  background: #f26722;
}

.rpt-title {
  position: relative;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 2.8rem;
  font-weight: 600;
  color: #333;
  margin: 0px auto 0px auto;
  padding: 0 70px;
}

/* Right top line */
.rpt-title::before {
  content: "";
  position: absolute;
  right: 10px;
  top: calc(50% - 6px);
  width: 20px;
  height: 2px;
  background: #f26722;
}

/* Right bottom line */
.rpt-title::after {
  content: "";
  position: absolute;
  right: -10px;
  top: calc(50% + 4px);
  width: 40px;
  height: 2px;
  background: #f26722;
}

/* Left side */
.rpt-title span::before {
  content: "";
  position: absolute;
  left: 20px;
  top: calc(50% - 6px);
  width: 20px;
  height: 2px;
  background: #f26722;
}

.rpt-title span::after {
  content: "";
  position: absolute;
  left: 0px;
  top: calc(50% + 4px);
  width: 40px;
  height: 2px;
  background: #f26722;
}

/* -------- Responsive Styles -------- */

@media (max-width: 1024px) {
  .rpi-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .rp-impact-title {
    font-size: 2rem;
  }
  .rp-impact-title::before {
    right: 200px;
  }
  .rp-impact-title::after {
    right: 180px;
  }
  .rp-impact-title span::before {
    left: 200px;
  }
  .rp-impact-title span::after {
    left: 180px;
  }

  .rp-title {
    font-size: 2rem;
  }
  .rp-title::before {
    right: 120px;
  }
  .rp-title::after {
    right: 100px;
  }
  .rp-title span::before {
    left: 120px;
  }
  .rp-title span::after {
    left: 100px;
  }

  .rpt-title {
    font-size: 2rem;
  }
  .rpt-title::before {
    right: 20px;
  }
  .rpt-title::after {
    right: 0px;
  }
  .rpt-title span::before {
    left: 20px;
  }
  .rpt-title span::after {
    left: 0px;
  }

  .timeline-row {
    gap: 0px;
  }

  .connector-mid {
    width: 330px;
  }
  .connector-up {
    left: 15%;
  }
  .connector-mid-up {
    height: 60px;
    top: -73px;
  }
  .connector-mid-up .arrow {
    top: -25px;
    left: 0px;
  }
}

/* Mobiles (≤768px) */
@media (max-width: 768px) {
  .page-container {
    padding: 1rem;
    margin: 100px auto 0px auto;
  }

  .section-title {
    font-size: 1.6rem;
  }

  .rpi-grid {
    grid-template-columns: 1fr;
  }

  .rpi-number {
    font-size: 48px;
  }

  .rp-impact-title {
    font-size: 1.7rem;
    line-height: 28px;
    margin-bottom: 2rem;
  }
  .rp-impact-title::before {
    right: 40px;
  }
  .rp-impact-title::after {
    right: 20px;
  }
  .rp-impact-title span::before {
    left: 40px;
  }
  .rp-impact-title span::after {
    left: 20px;
  }

  .rp-title {
    font-size: 1.6rem;
    line-height: 28px;
  }
  .rp-title::before {
    right: 40px;
  }
  .rp-title::after {
    right: 20px;
  }
  .rp-title span::before {
    left: 40px;
  }
  .rp-title span::after {
    left: 20px;
  }

  .rpt-title {
    font-size: 1.6rem;
    line-height: 28px;
  }
  .rpt-title::before {
    right: 40px;
  }
  .rpt-title::after {
    right: 20px;
  }
  .rpt-title span::before {
    left: 40px;
  }
  .rpt-title span::after {
    left: 20px;
  }

  .timeline-row,
  .timeline-row.reverse {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }

  .timeline-row-mid {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 18px;
  }

  .timeline-item {
    width: 100%;
    max-width: 280px;
    text-align: center;
    padding-left: 0px;
    margin-left: 0px;
  }

  .circle {
    margin: 0 auto 15px;
  }

  .connector {
    width: 2px;
    height: 40px;
    border-left: 2px dashed #f97316;
    border-top: none;
    margin: 0 auto;
    position: relative;
  }

  .connector-mid {
    width: 101px;
    height: 2px;
    border-top: 2px dashed #f97316;
    position: relative;
  }

  .arrow,
  .arrow.reverse {
    position: absolute;
    left: -1px;
    transform: translateX(-50%) rotate(90deg);
    top: auto;
    bottom: -25px;
  }

  .connector-up {
    display: block;
    width: 2px;
    height: 40px;
    left: 50%;
  }

  .connector-up .arrow {
    top: 46px;
    transform: translateX(-50%) rotate(-270deg);
  }
  .connector-mid {
    width: 2px;
    height: 40px;
    border-left: 2px dashed #f97316;
    border-top: none;
    margin: 0px auto 20px auto;
    position: relative;
  }
  .connector-mid-up {
    display: block;
    width: 2px;
    height: 40px;
    left: 50%;
    top: -75px;
  }

  .connector-mid-up .arrow {
    top: 45px;
    transform: translateX(-50%) rotate(-270deg);
  }
  .timeline-row.bottom {
    margin-top: 20px;
  }
}