.page-container {
  font-family: "Poppins", sans-serif;
  padding: 2rem;
  max-width: 1200px;
  margin: 80px auto 0 auto;
}

.section-title {
  text-align: center;
  margin-bottom: 1.5rem;
}

.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
  height: 600px; /* important */
}

.reach-content {
  text-align: center;
  margin-bottom: 2rem;
}
