.footer {
  background-color: #2c3e50;
  color: white;
  padding: 40px 100px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  border-bottom: 1px solid #444;
  padding-bottom: 30px;
}

.footer-links {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-wrap: wrap;
  gap: 185px;
}

.footer-column h4 {
  margin-bottom: 10px;
  font-size: 18px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 8px;
}

.footer-column ul li a {
  color: #ecf0f1;
  text-decoration: none;
  font-size: 14px;
}

.footer-column ul li a:hover {
  text-decoration: underline;
}

.footer-bottom {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 385px;
}

.footer-address {
  margin-bottom: 10px;
}

.footer-social {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.social-icons a {
  color: white;
  margin-right: 12px;
  font-size: 30px;
}

.footer-linkedin {
  min-width: 398px;
}

.footer-linkedin h4 {
  margin-bottom: 10px;
}

/* Responsive */
@media (max-width: 1024px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-links {
    justify-content: center;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-social {
    align-items: center;
  }

  .footer-linkedin iframe {
    height: 220px;
  }
}
