.footer {
  background-color: #2c3e50;
  color: white;
  padding: 60px 100px 10px 100px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  border-bottom: 1px solid #444;
  padding-bottom: 30px;
}

.footer-links {
  display: flex;
  flex: 1;
  justify-content: center;
  gap: 173px;
}
.footer-column {
  width: 178px;
}

.footer-column h4 {
  margin-bottom: 10px;
  font-size: 18px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 8px;
}

.footer-column ul li a {
  color: #ecf0f1;
  text-decoration: none;
  font-size: 14px;
}

.footer-column ul li a:hover {
  text-decoration: underline;
}

.footer-bottom {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 380px;
}

.footer-address {
  margin-bottom: 10px;
}

.footer-social {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.social-icons a {
  color: white;

  margin-right: 30px;
  font-size: 30px;
}

.footer-linkedin {
  min-width: 398px;
}

.footer-linkedin h4 {
  margin-bottom: 10px;
}

.footer-address-link {
  text-decoration: none;
  color: #fff;
}
.footer-address-link:hover {
  text-decoration: underline;
}

/* Responsive */
@media (min-width: 1260px) {
  .footer-links {
    gap: 100px;
  }
  .footer-bottom {
    gap: 210px;
  }
}
@media (max-width: 1024px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-links {
    flex-wrap: wrap;
    gap: 200px;
    justify-content: center;
  }

  .footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    flex-wrap: nowrap;
  }

  .footer-social {
    align-items: start;
  }
  .footer-linkedin {
    min-width: 0px;
  }

  .footer-linkedin iframe {
    height: 220px;
  }
}

/* Mobile view */
@media (max-width: 768px) {
  .footer {
    padding: 30px 20px;
    text-align: center;
  }

  .footer-links {
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }

  .footer-column h4 {
    font-size: 16px;
    margin-bottom: 8px;
  }

  .footer-column ul li a {
    font-size: 13px;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 30px;
    align-items: center;
    margin-top: 20px;
  }

  .footer-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .footer-address p {
    font-size: 13px;
  }

  .footer-social strong {
    font-size: 14px;
  }

  .social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
  }

  .social-icons a {
    font-size: 24px;
    margin-right: 0;
  }

  .footer-linkedin {
    width: 100%;
    min-width: auto;
  }

  .footer-linkedin iframe {
    width: 100%;
    height: 200px;
  }
}
